.column-text {
  margin-top: 12px;
}

.column-title {
  height: 40px;
}

.column-underline {
  border-bottom: 3px solid black;
}

.table-banner {
  height: 32px;
  padding-left: 15px;
  padding-right: 15px;
}

.table-data {
  /* height: 75px; */
  padding-left: 15px;
  padding-right: 15px;
  width: 170px;
}
