.column-container {
  width: 170px;
}

.column-container-outline {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.column-subtotal-text {
  height: 30px;
  padding-top: 8px;
}

.column-title {
  height: 45px;
}

.column-underline {
  border-bottom: 3px solid black;
}

.table-banner {
  height: 26px;
}
