.column-container {
  width: 120px;
}

.column-container-outline {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.column-subtotal-text {
  height: 30px;
  padding-top: 8px;
  text-align: right;
}

.column-title {
  height: 45px;
  white-space: nowrap;
}

.column-underline {
  border-bottom: 3px solid black;
  height: 49px;
  width: 120px;
}

.table-banner {
  height: 26px;
}

.table-container {
  overflow-y: scroll;
  width: 100%;
}

.table-wrapper {
  width: 760px;
}
