.tray-banner {
  border-bottom: 3px solid black;
  height: 76px;
}

.tray-container {
  width: 300px;
}

.tray-container-outline {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.tray-subtotal-text {
  height: 30px;
  padding-top: 8px;
}

.width-75 {
  width: 75%;
}
