.pivot-banner {
  border-bottom: 3px solid black;
  height: 75px;
  padding-left: 15px;
  padding-right: 15px;
}

.pivot-banner-static {
  width: 300px;
}

.pivot-header {
  padding-left: 15px;
  padding-right: 15px;
}

.pivot-header-static {
  width: 300px;
}
